.sectionContainer{
  background-color: var(--color-background);
  width: 80vw;
  margin: 6% auto 0 auto;
  border-radius: 15px;
  padding-bottom: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);

}

.tablaTurnos{
  margin: 0 auto;
  background-color: whitesmoke;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

  border-collapse: collapse;
  margin-top: 20px;
}

td {
  text-align: center;
  vertical-align: middle;
}

.titulo{
  color: #333;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

.columnaTablaHead{

  border-bottom: 1px solid black;
}

.columnaHead{

  width: 100px;
  padding: 10px;
}

.columnaInicialCuerpo{
  border-right: 1px solid black;
}


.filaCuerpo{
  border-bottom: 1px solid black;
}

.filaCuerpo:last-child{
  border-bottom: none;
}

td{
  padding: 20px;
  text-align: center;
}

.estado-cobrada {
  background-color: #ff4d4d;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.estado-reservada {
  background-color: #4caf50;
  color: white;
  padding: 5px;
  border-radius: 5px;
}
.estado-cancelado {
  background-color: #ff5722;
  color: white;
  padding: 5px;
  border-radius: 5px;

}


.btn-cancelar {
  background-color: #ff5722;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  font-size: var(--titulo-h5);
}

.btn-cancelar:hover {
  background-color: #e64a19;
}
.btn-cancelar:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  opacity: 0.6;
}
.btn-cancelar:disabled:hover {
  background-color: #6b1515;
  cursor: not-allowed;
  opacity: 0.6;
}


.mensajeSinTurnos{
  text-align: center;
  margin-top: 20px;
  font-size: 1.5rem;
  color: #333;
}
