<div class="estiloGeneralContainer">

  <!-- Contenido del padre -->
  
  @if(isRutaBasica()){

    <ng-container>
      <app-widget-bienvenida
      [nombreCliente]="clienteActual.nombre"
      [apellidoCliente]="clienteActual.apellido"
      (clickBoton)="abrirModal()">
    </app-widget-bienvenida>
    
    @if(!historialLevantado){

      <app-tabla-turno-cliente
      [modo]="'dashboard'"
      [listadoNegocios]="listadoNegocios">
    </app-tabla-turno-cliente>
  }@else {
    <app-tabla-turno-cliente
    [modo]="'historial'"
    [listadoNegocios]="listadoNegocios">
  </app-tabla-turno-cliente>

  }
    

</ng-container>

}
<router-outlet></router-outlet>

<!-- Logica para ver el historial -->

<!-- @if(!historialLevantado){
  }@else{
    <app-tabla-turno-cliente
    [modo]="'historial'"
    [listadoNegocios]="listadoNegocios">
    </app-tabla-turno-cliente>

  } -->

</div>


