<div class="estiloGeneralContainer">

  <!-- Contenido del padre -->
  @if(!historialLevantado){

    <ng-container>
      <app-widget-bienvenida
      [nombreCliente]="clienteActual.nombre"
      [apellidoCliente]="clienteActual.apellido"
      (clickBoton)="abrirModal()">
      </app-widget-bienvenida>

      <app-tabla-turno-cliente
      [modo]="'dashboard'"
      [listadoNegocios]="listadoNegocios">
      </app-tabla-turno-cliente>
    </ng-container>

  }@else{
    <app-tabla-turno-cliente
    [modo]="'historial'"
    [listadoNegocios]="listadoNegocios">
    </app-tabla-turno-cliente>

  }

</div>
@if (modalLevantado) {
  <ng-container >
    <app-modal [modal]="'modalSeleccionarNegocio'" (cerrarModal)="cerrarModal()">
      <ng-container modal-header>
        <h5 class="tituloModal">Selecciona un negocio</h5>
      </ng-container>
      <ng-container modal-content>
        <app-elegir-negocio [listadoNegocios]="listadoNegocios"></app-elegir-negocio>
      </ng-container>
    </app-modal>
  </ng-container>
}
