<app-nav-bar-landing></app-nav-bar-landing>

<section id="hero">
  <app-hero></app-hero>
</section>

<section id="introduccion">
  <app-introduccion></app-introduccion>
</section>

<section id="beneficios">
  <app-beneficios></app-beneficios>
</section>

<section id="caracteristicas">
  <app-caracteristicas></app-caracteristicas>
</section>

<section id="precios">
  <app-precios></app-precios>
</section>

<section id="cta">
  <app-cta></app-cta>
</section>

<section id="contacto">
  <app-contacto></app-contacto>
</section>

<app-footer></app-footer>
