<div  class="contenedor">
  <h5>{{textoTitulo}}</h5>
  <div class="cruz" (click)="cerrarPopUp()">
    <mat-icon> close</mat-icon>
  </div>
  <form [formGroup]="formularioServicio" class="contenido">

    <div [className]="'contenedor-imagen'">
      <img [src]="fotoServicio" [alt]="'foto del servicio'"/>

      <div [className]="'contenedor-funciones-imagen'">

        @if (fotoServicio != 'img-default.png') {
          <div [className]="'icono-eliminar'" (click)="eliminarArchivo($event)" >
            <mat-icon>delete</mat-icon>
          </div>
        }

        <app-input-archivo
        [textoLabel]="'Subir foto'"
        [tipoArchivo]="'image/*'"
        (emitirArchivo)="seleccionarArchivo($event)"
        ></app-input-archivo>
      </div>
    </div>

    <div class="contenedor-formulario">

      <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input
          formControlName="nombre"
          matInput
          [placeholder]="placeholders.nombre"
        />
        <mat-icon matSuffix>{{ iconos.tijera }}</mat-icon>
        @if (formularioServicioTieneError("nombre", "required")) {
        <mat-error>{{ mostrarMensajeError("required") }}</mat-error>
        }
      </mat-form-field>


      <mat-form-field appearance="outline">
        <mat-label>Duración</mat-label>
        <input
        type="number"
          formControlName="duracion"
          matInput
          [placeholder]="placeholders.duracion"
          [min]="1"
        />
        <mat-icon matSuffix>{{ iconos.reloj }}</mat-icon>
        @if (formularioServicioTieneError("duracion", "required")) {
        <mat-error>{{ mostrarMensajeError("required") }}</mat-error>
        }
        @else if (formularioServicioTieneError("duracion", "min")) {
          <mat-error>{{ mostrarMensajeError("min") }}</mat-error>
        }
        @else if (formularioServicioTieneError("duracion", "max")) {
          <mat-error>{{ mostrarMensajeError("max") }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Precio</mat-label>
        <input
        type="number"
          formControlName="precio"
          matInput
          [placeholder]="placeholders.precio"
          [min]="1"
        />
        <mat-icon matSuffix>{{ iconos.dinero }}</mat-icon>
        @if (formularioServicioTieneError("precio", "required")) {
        <mat-error>{{ mostrarMensajeError("required") }}</mat-error>
        }@else if (formularioServicioTieneError("precio", "min")) {
          <mat-error>{{ mostrarMensajeError("precioInvalido") }}</mat-error>
        }
      </mat-form-field>

    </div>
  </form>


  <div class="contenedor-fondo">

    @if (!esNuevoServicio) {
      <app-boton
        [class]="'botonEliminar'"
        [textoDentroBoton]="'Eliminar'"
        [type]="'button'"
        (click)="abrirModal()"
      ></app-boton>
      <app-modal-pregunta
      [pregunta]="'¿Desea eliminar el servicio ' + cardSeleccionada?.nombre! + '?'"
      [tituloPregunta]="'Eliminar'"
      [botonNegativo]="'No'"
      [botonPositivo]="'Si'"
      (respuesta)="manejarRespuesta($event)">
    </app-modal-pregunta>
    }@else{
      <app-boton
        [class]="'botonEliminar'"
        [textoDentroBoton]="'Cancelar'"
        [type]="'button'"
        (click)="cerrarPopUp()"
      ></app-boton>
    }

    <app-boton
      [class]="'botonConfirmar'"
      [textoDentroBoton]="'Confirmar'"
      [type]="'button'"
      (click)="confirmarServicio()"
    ></app-boton>
  </div>
</div>
