<table class="main">
  <thead>
    <tr>
      <th>Estado</th>
      <th>Numero</th>
      <th>Fecha</th>
      <th>Hora</th>
      <th>Cliente</th>
      <th>Profesional</th>
      <th>Servicio</th>
      <th>Metodo Pago</th>
      <th>Cancelar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let turno of turnoTabla; let i = index">
      <td>
        <span [ngClass]="{
              'estado-cancelado': !turno.estado,
              'estado-en-curso':  verificarEstado(turno.fecha, turno.horaInicio,turno.estado) === 'enCurso',
              'estado-reservada': verificarEstado(turno.fecha, turno.horaInicio,turno.estado) === 'reservado',
              'estado-pagado': verificarEstado(turno.fecha, turno.horaInicio, turno.estado) === 'pagado'
            }">
          <!-- Mostrar el estado en texto -->
          {{
            !turno.estado ? 'Cancelado' : verificarEstado(turno.fecha, turno.horaInicio, turno.estado) === 'enCurso'
                                  ? 'En Curso' : verificarEstado(turno.fecha, turno.horaInicio, turno.estado) === 'reservado'
                                  ? 'Reservado' : 'Pagado'
          }}
        </span>
      </td>
      <td>{{ turno.idTurno }}</td>
      <td>{{ turno.fecha }}</td>
      <td>{{ turno.horaInicio }}</td>
      <td>{{ turno.nombreCliente }}</td>
      <td>{{ turno.nombreProfesional }}</td>
      <td>{{ turno.nombreServicio }}</td>
      <td>{{ turno.metodoPago }}</td>
      <td>
        <button class="btn-cancelar" (click)="cancelarTurno(idNegocio, turno.idTurno)" [disabled]="verificarEstado(turno.fecha, turno.horaInicio, turno.estado) === 'pagado'||verificarEstado(turno.fecha, turno.horaInicio, turno.estado) === 'cancelado'">
           {{ verificarEstado(turno.fecha, turno.horaInicio, turno.estado) === 'enCurso' ? 'Pagar' : 'Cancelar' }}
        </button>
      </td>
    </tr>
  </tbody>
</table>
