<table class="main">
  <thead>
    <tr>
      <th>Estado</th>
      <th>Numero</th>
      <th>Fecha</th>
      <th>Hora</th>
      <th>Cliente</th>
      <th>Profesional</th>
      <th>Servicio</th>
      <th>Metodo Pago</th>
      <th>Cancelar</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let turno of turnoTabla; let i = index">
      <td>
        <span [ngClass]="{
              'estado-cancelado': turno.estado === estado.CANCELADO,
              'estado-en-curso': turno.estado === estado.EN_CURSO,
              'estado-reservada': turno.estado === estado.RESERVADO,
              'estado-cobrado': turno.estado === estado.COBRADO,
              'estado-libre': turno.estado === estado.LIBRE
            }">
          {{
            turno.estado === estado.CANCELADO ? 'Cancelado' :
            turno.estado === estado.EN_CURSO ? 'En curso' :
            turno.estado === estado.RESERVADO ? 'Reservado' :
            turno.estado === estado.COBRADO ? 'Cobrado' :
            turno.estado === estado.LIBRE ? 'Libre' :
            'Estado desconocido'
          }}
        </span>
      </td>
      <td>{{ turno.idTurno }}</td>
      <td>{{ turno.fecha }}</td>
      <td>{{ turno.horaInicio }}</td>
      <td>{{ turno.nombreCliente }}</td>
      <td>{{ turno.nombreProfesional }}</td>
      <td>{{ turno.nombreServicio }}</td>
      <td>{{ turno.metodoPago }}</td>
      <td>
        <button class="btn-cancelar" (click)="cambiarEstado(idNegocio, turno)"
        [disabled]="turno.estado === estado.COBRADO || turno.estado === estado.CANCELADO">
        {{
          turno.estado === estado.EN_CURSO ? 'Cobrar' :
          turno.estado === estado.RESERVADO ? 'Cancelar' :
          'Cancelar'
        }}
         </button>
      </td>
    </tr>
  </tbody>
</table>
