#seccionRegister{
  display: flex;
  justify-content: center;
  align-items: center;
}

h2{
  font-size: var(--titulo-h2);
  margin: 0;
  text-align: center;
}

h3{
  font-size: var(--titulo-h3);
}

#fieldsetRegister{
  border: none;
  width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ccc;
}

legend{
  text-align: center;
  padding: 0 3rem;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

app-input{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1rem;
}

#spanRedirectLogin
{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

#spanRedirectLogin p{
  text-align: center;
  margin: 0;
  padding-right: 15px;
}

#spanRedirectLogin a{
  text-decoration: none;
}

#spanRedirectLogin a:hover{
  color: var(--color-contraste1);
  text-decoration: underline;
}

.botonOcultarContrasenia{
  background-color: transparent;
  border: none;
  font-size: 12px;
  cursor: pointer;
}

mat-form-field{
  width: 250px;
  height: 60px;
  margin: 12px 0;
}

