.generalContainer{
  position: relative;
  width: 100vw;
  height: 100vh;
}

.generalContainerSobrepuesto{
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  width: 100vw;
  height: 100vh;
}

.navContainer{
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
  margin-bottom: 50px;
}
