<nav class="sidebar">
  <div class="seccion-logo">
    <img [src]="urlLogo" alt="logo mi-miTurno" />
  </div>
  <div class="seccion-img-perfil">
    <img [src]="urlFotoPerfil" [alt]="altFotoPerfil" />
  </div>
  <ul>
    <li>
      <app-link-con-icono
      [claseContenedor]="'claseContenedor'"
        [claseEnlace]="'mi-clase-enlace'"
        [claseIcono]="'mi-clase-icono'"
        [icono]="iconos.home"
        [titulo]="'Recepción'"
        [referencia]="'#'"
        [seleccionado]="true"
      ></app-link-con-icono>
    </li>
    <li>
      <app-link-con-icono
      [claseContenedor]="'claseContenedor'"
        [claseEnlace]="'mi-clase-enlace'"
        [claseIcono]="'mi-clase-icono'"
        [icono]="iconos.eventNote"
        [titulo]="'Turnos'"
        [referencia]="'#'"
        [seleccionado]="true"
      ></app-link-con-icono>
    </li>
    <li>
      <app-link-con-icono
      [claseContenedor]="'claseContenedor'"
        [claseEnlace]="'mi-clase-enlace'"
        [claseIcono]="'mi-clase-icono'"
        [icono]="iconos.badge"
        [titulo]="'Staff'"
        [referencia]="'#'"
        [seleccionado]="true"
      ></app-link-con-icono>
    </li>
    <li>
      <app-link-con-icono
      [claseContenedor]="'claseContenedor'"
        [claseEnlace]="'mi-clase-enlace'"
        [claseIcono]="'mi-clase-icono'"
        [icono]="iconos.star"
        [titulo]="'Servicios'"
        [referencia]="'#'"
        [seleccionado]="true"
      ></app-link-con-icono>
    </li>
    <li>
      <app-link-con-icono
      [claseContenedor]="'claseContenedor'"
        [claseEnlace]="'mi-clase-enlace'"
        [claseIcono]="'mi-clase-icono'"
        [icono]="iconos.people"
        [titulo]="'Clientes'"
        [referencia]="'#'"
        [seleccionado]="true"
      ></app-link-con-icono>
    </li>
    <li>
      <app-link-con-icono
      [claseContenedor]="'claseContenedor'"
        [claseEnlace]="'mi-clase-enlace'"
        [claseIcono]="'mi-clase-icono'"
        [icono]="iconos.settings"
        [titulo]="'Configuración'"
        [referencia]="'#'"
        [seleccionado]="true"
      ></app-link-con-icono>
    </li>
    <li>
      <app-link-con-icono
      [claseContenedor]="'claseContenedor'"
        [claseEnlace]="'mi-clase-enlace'"
        [claseIcono]="'mi-clase-icono'"
        [icono]="iconos.logout"
        [titulo]="'Salir'"
        [referencia]="'#'"
        [seleccionado]="true"
      ></app-link-con-icono>
    </li>
  </ul>
</nav>
