<nav class="sidebar">
  <div class="seccion-logo">
    <img [src]="urlLogo" alt="logo mi-miTurno" />
  </div>
  <div class="seccion-img-perfil">
    <img [src]="urlFotoPerfil" [alt]="altFotoPerfil" />
    <p>{{nombreNegocio}}</p>
  </div>
  <ul>
    
    <li>
      <div [ngClass] ="{'seleccionado' : selecionado(rutaRecepcion)}" >
        <a class="claseEnlace" [href]="rutaRecepcion">
          <mat-icon class = "claseIcono">{{iconos.home}}</mat-icon>
          Recepción</a>
      </div>
    </li>

    <li>
      <div [ngClass] ="{'seleccionado' : selecionado(rutaTurnos)}" >
        <a class="claseEnlace" [href]="rutaTurnos">
          <mat-icon class = "claseIcono">{{iconos.eventNote}}</mat-icon>
          Turnos</a>
      </div>
    </li>
    <li>
      <div [ngClass] ="{'seleccionado' : selecionado(rutaStaff)}">
        <a class="claseEnlace" [href]="rutaStaff">
          <mat-icon class = "claseIcono">{{iconos.badge}}</mat-icon>
          Staff</a>
      </div>
    </li>
    <li>
      <div [ngClass] ="{'seleccionado' : selecionado(rutaServicios)}">
        <a class="claseEnlace" [href]="rutaServicios">
          <mat-icon class = "claseIcono">{{iconos.star}}</mat-icon>
          Servicios</a>
      </div>
    </li>
    <li>
      <div [ngClass] ="{'seleccionado' : selecionado(rutaClientes)}" >
        <a class="claseEnlace" [href]="rutaClientes">
          <mat-icon class = "claseIcono">{{iconos.people}}</mat-icon>
          Clientes</a>
      </div>
    </li>
    <li>
      <div [ngClass] ="{'seleccionado' : selecionado(rutaConfiguracion)}">
        <a class="claseEnlace" [href]="rutaConfiguracion">
          <mat-icon class = "claseIcono">{{iconos.settings}}</mat-icon>
          Configuración</a>
      </div>
    </li>
    <li>
      <div [ngClass] ="{'seleccionado' : selecionado(rutaSalir)}">
        <a class="claseEnlace" [href]="rutaSalir">
          <mat-icon class = "claseIcono salir">{{iconos.logout}}</mat-icon>
          Salir</a>
      </div>
    </li>
  </ul>
</nav>

