
    <article [className]="claseCard" >
      <div [className] = "claseContenedorImg">
        <img [src]="ruta" [className]="claseImg" [alt]="textoAlt">

      </div>
      <div [className] = "claseCuerpo">
        <div [className] = "claseCuerpoTexto">
          <h5 [className]="claseTitulo">{{titulo}}</h5>
          <p [className]="claseTexto"> {{texto}}</p>

          @if (textoSecundario.length > 0) {
            <p [className]="claseTexto">{{textoSecundario}}</p>
          }
        </div>
        <div [className] = claseCuerpoChip>
          <app-chip [claseEnlace]="'claseEnlaceChip'" [referencia] = "referenciaChip" [texto] = "textoBoton" (click)="emitirInformacionClick()"></app-chip>
        </div>
      </div>
    </article>
