<!-- Formulario de suscripción o contacto -->
<section id="contacto">
  <h2>Contacto</h2>
  <form action="/submit" method="POST" class="contact-form">

    <app-input [textoLabel]="'Nombre:'" [placeholder]="' Tu nombre'" [id]="'nombre'"></app-input>
    <app-input [textoLabel]="'Nombre del negocio:'" [placeholder]="' Nombre de tu negocio'" [id]="'negocio'"></app-input>
    <app-input [textoLabel]="'Correo electrónico:'" [placeholder]="' Tu correo electrónico'" [type]="'email'" [id]=""></app-input>

    <label for="mensaje">Mensaje:</label>
    <textarea id="mensaje" name="mensaje" placeholder="Escribe tu mensaje aquí" rows="4" required></textarea>

    <app-boton [textoDentroBoton]="'Enviar mensaje'"></app-boton>
  </form>
</section>
