<div class="dia-horario-container">
  <div class="titulo">
    <span>{{ dia }}</span>

    <!-- Recibe el evento change y cambia el estilo  -->
    <mat-slide-toggle
      (change)="cambiarEstadoToggle($event)"
      [checked]="toggleActivo"

      color="primary"
    ></mat-slide-toggle>
  </div>

  <div class="horarios-boton" [ngClass]="{ 'desactivado ': !toggleActivo }">
    <div class="horario-lista">
      <div class="horario-item" *ngFor="let horario of horarios; let i = index">
        <span>{{ horario.horaInicio }}</span>
        <mat-icon (click)="eliminarHorario(horario.idHorario)" class="delete-icon"
          >delete</mat-icon
        >
      </div>
    </div>
    <button class="boton" (click)="abrirDialogoAgregarHorarios()">+</button>
    <app-dialogo-horarios-profesional (respuesta)="manejarRespuesta($event)"></app-dialogo-horarios-profesional>
  </div>
</div>
