<div [className]="'popUpContainer'">
  <div [className]="'containerArriba'">

    <h5 [className]="'seleccionarNegocioTitulo'">Selecciona un negocio</h5>
    <div [className]="'cruzCerrar'" (click)="cerrarPopup()">

      <mat-icon>close</mat-icon>
    </div>
  </div>

  <div [className]="'negociosContainer'">

    @for (negocio of listadoNegocios; track $index) {

      @if (negocio.idUsuario !== undefined) {
        <a [className]="'unaFilaContainer'" [routerLink]="'/negocios/'+negocio.nombre+'/pedir-turno'">
          <img [className]="'imgDefault'" src="img-default.png" alt="negocio">
          <div [className]="'infoContainer'">
            <h4 [className]="'nombreNegocio'">{{negocio.nombre}}</h4>
            <p [className]="'rubroNegocio'">{{negocio.rubro}}</p>

          </div>

        </a>
      }


    }
  </div>

</div>

<!-- (click)="negocioElegido(negocio.idUsuario)" -->
