<footer class="footer">
  <div class="container">
    <div class="footer-row">
      <div class="footer-links">
        <h4>Compañia</h4>
        <ul>
          <li><a href="#">Nosotros</a></li>
          <li><a href="#">Nuestro servicios</a></li>
          <li><a href="#">Politicas de privacidad</a></li>
        </ul>
      </div>
      <div class="footer-links">
        <h4>Ayuda</h4>
        <ul>
          <li><a href="#">Preguntas</a></li>
          <li><a href="#">Compras</a></li>
        </ul>
      </div>
    </div>
    <p>&copy; {{anioActual}} Mi Turno. Todos los derechos reservados.</p>
  </div>
</footer>
