#precios {
  padding: 40px 20px;
  background-color: #f9f9f9;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Contenedor de los planes de precios */
.precios-planes-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap:nowrap;
  margin-top: 20px;
  padding-bottom: 150px;

}

/* Estilos para cada card de precios */
.precios-plan {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 300px;
  height: 400px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Efecto hover para que la card resalte */
.precios-plan:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

/* Estilo para el precio destacado en la parte superior */
.precios-plan p {
  font-size: 2rem;
  font-weight: bold;
  color:  var(--main-color);
  margin: 0;
  margin-bottom: 10px;
}

/* Título del plan */
.precios-plan h3 {
  font-size: 1.5rem;
  color: #333333;
  margin: 10px 0;
}

/* Lista de características */
.precios-plan ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: left;
}

.precios-plan li {
  font-size: 1rem;
  color: #555555;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.precios-plan li::before {
  content: "✔️";
  color: var(--main-color);
  margin-right: 8px;
}

#cta {
  padding: 60px 20px;
  text-align: center;
  background: var(--main-color);
  color: #ffffff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Título del CTA */
#cta h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Descripción del CTA */
#cta p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  max-width: 600px;
  line-height: 1.6;
}

/* Contenedor de los botones para mejor alineación */
#cta .cta-buttons-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

/* Botones de llamada a la acción */
.cta-button {
  display: inline-block;
  background-color: #ffffff;
  color: #007BFF;
  padding: 15px 30px;
  font-size: 1rem;
  text-decoration: none;
  font-weight: bold;
  border-radius: 30px;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* Efecto hover para los botones */
.cta-button:hover {
  background-color: #0056b3;
  color: #ffffff;
  transform: translateY(-3px);
}
