<!-- Sección de Precios -->
<section id="precios">
  <div class="precios-titulo">
    <h2>Precios</h2>
  </div>
<div class="precios-planes-container">
  <div class="precios-plan">
    <h3>Plan Básico</h3>
    <p>{{precioA}}</p>
    <ul>
      <li>Reservas ilimitadas</li>
      <li>Acceso a informes básicos</li>
      <li>Soporte estándar</li>
    </ul>
  </div>
  <div class="precios-plan">
    <h3>Plan Profesional</h3>
    <p>{{precioB}}</p>
    <ul>
      <li>Reservas ilimitadas</li>
      <li>Informes avanzados</li>
      <li>Soporte prioritario</li>
    </ul>
  </div>
  <div class="precios-plan">
    <h3>Plan Empresarial</h3>
    <p>{{precioC}}</p>
    <ul>
      <li>Reservas ilimitadas</li>
      <li>Informes completos y análisis</li>
      <li>Soporte dedicado y personalizado</li>
    </ul>
  </div>
</div>
</section>
