<!-- Sección de Beneficios -->
<section id="beneficios">
  <h2>Beneficios Clave</h2>
  <div class="beneficios-flex">
    <div class="beneficio">
      <!-- <svg class="icono" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><circle cx="12" cy="12" r="10" fill="#007BFF"/></svg> -->
       <mat-icon>{{iconos.reloj}}</mat-icon>
      <h3>Optimización de tiempo</h3>
      <p>Automatiza la gestión de citas y reduce errores.</p>
    </div>
    <div class="beneficio">
      <!-- <svg class="icono" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><circle cx="12" cy="12" r="10" fill="#007BFF"/></svg> -->
       <mat-icon>{{iconos.ubicacion}}</mat-icon>
      <h3>Accesibilidad 24/7</h3>
      <p>Los usuarios pueden reservar turnos en cualquier momento.</p>
    </div>
    <div class="beneficio">
      <!-- <svg class="icono" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><circle cx="12" cy="12" r="10" fill="#007BFF"/></svg> -->
      <mat-icon>{{iconos.robot}}</mat-icon>
      <h3>Recordatorios automáticos</h3>
      <p>Evita cancelaciones con notificaciones automáticas.</p>
    </div>
    <div class="beneficio">
      <!-- <svg class="icono" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><circle cx="12" cy="12" r="10" fill="#007BFF"/></svg> -->
      <mat-icon>{{iconos.people}}</mat-icon>
      <h3>Mejor atención al cliente</h3>
      <p>Los clientes eligen su turno según su disponibilidad.</p>
    </div>
    <div class="beneficio">
      <!-- <svg class="icono" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><circle cx="12" cy="12" r="10" fill="#007BFF"/></svg> -->
      <mat-icon>{{iconos.flecha_creciendo}}</mat-icon>
      <h3>Estadísticas</h3>
      <p>Analiza como han ido las ventas y clientes.</p>
    </div>
  </div>
</section>
