form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 40px;
  border-radius: 30px;
}
.botonOcultarContrasenia{
  background-color: transparent;
  border: none;
  font-size: 12px;
  cursor: pointer;
}

mat-form-field{
  width: 250px;
  height: 60px;
  margin: 12px 0;
}

