/* .heroContainer{
  background-image: url("/heroMiTurno.jpeg");
  background-repeat: round;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heroTitulo{
color: white;
font-size: xx-large;
}

.heroBoton{
  border-radius: 5px;
  border: none;
  background-color: lightgreen;
  height: 3rem;
  width: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  font-weight: bold;
  font-size: large;
}

.heroBoton:hover{
  cursor: pointer;
  background-color: rgb(90, 200, 90);
  transition: all 0.3s;
} */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*
.banner{
  background-image: url("/hero.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner::before{
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: var(--main-color);
  opacity:0.8 ;
  z-index: 1;
}


.baner_info{
  padding: 0.3em;
  position: absolute;
  width: 100%;
  max-width: 700px;
  text-align: center;
  margin: auto;
  z-index: 2;
}


.titulo
{
  font-size: var(--titulo-h1);
  color: #fff;

} */


.banner {
  background-image: url("/hero.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: relative; /* Necesario para que el ::before cubra toda el área de .banner */
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--main-color);
  opacity: 0.8;
  z-index: 1; /* Asegura que el fondo esté detrás del contenido */
}

.banner_info {
  position: relative;
  z-index: 2; /* Asegura que el contenido esté encima del ::before */
  padding: 0.3em;
  max-width: 700px;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.titulo{
  font-size: var(--titulo-h1);
}


.heroBoton {
  border-radius: 5px;
  color: var(--text-color);
  border: none;
  height: 3rem;
  width: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  font-weight: bold;
  font-size: large;
  transition: all 0.3s ease;
}


.heroBoton:hover {
  cursor: pointer;
  color: #fff;
  background-color: #76ac3e;
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}
