.sidebar {
  width: 250px;
  height: 96vh;
  background-color: var();
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  margin: 2vh 1.5vh 2vh 3vh;
  background-color: var(--color-background);
}





 .seccion-logo img {
  max-width: 100%;
  height: auto;
  object-fit:contain;
 }

 .seccion-img-perfil img {
  max-width: 100%;
  height: auto;
  object-fit:contain;
  display: block;
  margin: 0 auto;
 }

 .seccion-img-perfil  {
  text-align: center;
  margin-bottom: 30px;
 }


ul{
  list-style-type:none ;
  padding: 0;
  margin: 0;
  display: flex;
flex-direction: column;

}

li {
  width: 100%;
  list-style-type: none;
}

li div {
  display: flex;
  vertical-align: middle;
  height: 5.5vh;
  align-items: center;
  justify-content: left;
}



.claseEnlace {
  color: #000;
}

li div:hover {
  scale: 1.02;
  background-color: var(--color-contraste2-hover);
  color: var(--color-background);
}

li div:hover .claseIcono {
  color:var(--color-background);
}

li div:hover .claseEnlace {
  color: var(--color-background);
}

.claseEnlace {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-size: var(--titulo-h4);
  margin-left: 10px ;
  height: 30px;
}

.claseIcono{
  color: var(--main-color);
  font-size: 40px;
  margin-left: 10px;
  height: 40px;
  width: 40px;
  margin-right: 13px;
}

.salir {
  color: red;
}

.seleccionado {
  background-color: var(--color-contraste2);
  color: var(--color-background);
  scale: 1.02;
}

.seleccionado .claseEnlace {
  color: var(--color-background);
}
.seleccionado .claseIcono {
  color: var(--color-background);
}

.ultimo {
  display: flex;
  align-items: center;
  margin-top: auto;
}


.contenedor-etiquetas{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 74%;
}
