.contenedor{
	height: 500px;
	width: 450px;
	background-color: var(--color-background);
	border-radius: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 100px;
}


.botonOcultarContrasenia{
	background-color: transparent;
	border: none;
	font-size: 12px;
	cursor: pointer;
  }

  .matFormFieldPassword{
	width: 250px;
	height: 60px;
	margin: 12px 0;
  }
  
  .matFormFieldPassword mat-icon{
	margin: 0 12px ;
  }
  

  .titulo{
	font-size: var(--titulo-h2);
	margin-bottom: 30px;
}

.texto{
	font-size: var(--titulo-h5);
	margin-bottom:40px
}


form{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}


app-boton{
	margin-top:30px ;
}

.flechaAtrasBoton{
	border: none;
	background-color: transparent;
	margin: 15px 0 0 5px;
	height: 3vh;
	width: 3vw;
	margin-right: 350px;
	margin-bottom: 40px;

  }
  .imagenFlecha{
	height: 100%;
	width: 70%;
  }
  
  .imagenFlecha:hover {
	cursor: pointer;
	transition: transform 0.2s;
  	transform: scale(1.1);
  }
  