.contenedor{
	height: 500px;
	width: 450px;
	background-color: var(--color-background);
	border-radius: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 100px;
}


.botonOcultarContrasenia{
	background-color: transparent;
	border: none;
	font-size: 12px;
	cursor: pointer;
  }

  .matFormFieldPassword{
	width: 250px;
	height: 60px;
	margin: 12px 0;
  }
  
  .matFormFieldPassword mat-icon{
	margin: 0 12px ;
  }
  

  .titulo{
	font-size: var(--titulo-h2);
	margin-bottom: 30px;
}

.texto{
	font-size: var(--titulo-h5);
	margin-bottom:40px
}


form{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}


app-boton{
	margin-top:30px ;
}