.principal{
  display: flex;
  flex-direction: row;
  z-index: 1; /* Asegúrate de que el contenido principal esté por debajo */
  position: relative;
  background: linear-gradient(to right, #d4daff, #512da8);

}



