<nav>
  <a [routerLink]="'/dashboard-cliente'" (click)="cerrarHistorial()">
    <img [className]="'claseImagenIcono'" [src]="imagenIcono" alt="icono mi turno">
  </a>

  <ul>
    <li><app-boton [routerLink]="'/dashboard-cliente'" [class]="claseBoton" (click)="onHistorialClick()" [textoDentroBoton]="textoHistorialLevantado"></app-boton></li>
    <li><app-boton [class]="claseBoton" [textoDentroBoton]="'Cerrar sesion'" (click)="abrirModalCierre()"></app-boton></li>
    <app-modal-pregunta
    [pregunta]="'¿Desea salir de Mi Turno?'"
    [tituloPregunta]="'Salir'"
    [botonNegativo]="'No'"
    [botonPositivo]="'Si'"
    (respuesta)="manejarRespuesta($event)">
  </app-modal-pregunta>

    <li (click)="abrirModal()">
      @if (!imagenUsuario) {
        <mat-icon>{{iconos.perfil}}</mat-icon>
      }@else {
        <img [src]="imagenUsuario" alt="imagen de usuario">
      }
    </li>
    @if (modalLevantado) {
      <app-modal [modal]="'modalConfiguracionCliente'" (cerrarModal)="cerrarModal()"><!--TODO MODIFICAR EL MODALSELECCIOANRNEGOCIO POR UNO ESPECIFICO DE CLIENTE-->
        <ng-container modal-header>
          <h5 [className]="'tituloModal'">Modificar perfil de {{nombreCliente}}</h5>
        </ng-container>
        <ng-container modal-content>
          <app-modificar-cliente></app-modificar-cliente>
        </ng-container>
      </app-modal>
    }

  </ul>

</nav>
