
.contenedor{
  max-height: 80px;
  width: 100%;
  background-color: var(--color-background) ;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  user-select: none;
}

.contenedor-botones{
  display: flex;
  align-items: center;
  justify-content: right;
  margin-right: 25px;
}


.logo-mi-turno{
  width: auto;
  height: 70px;
  margin-left: 25px ;
}

.contenedor-foto-perfil{
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  width: 80px;
  height: 80px;
}

.contenedor-foto-perfil img {
  width: 100%; /* Ajusta el tamaño de la imagen */
  height: 100%;
  aspect-ratio: 3 / 2;
  object-fit: cover;
  border-radius: 50%;
  padding: 5px;
}

.contenedor-foto-perfil img:hover{
  cursor: pointer;
  transition: transform 0.2s;
  transform: scale(1.1);
}

.contenedor-foto-perfil mat-icon{
  font-size: 80px;
  border-radius: 50%;
  color: #333;
}

.contenedor-foto-perfil mat-icon:hover{
  cursor: pointer;
  color: black;
  transition: color 0.2s;
}



.boton{
  margin: 0 15px;
}


.claseIcono{
  font-size: 48px;
  margin: 10px;
  color: var(--color-eliminar1);
}

.claseIcono:hover{
  transition: transform 0.2s;
  transform: scale(1.1);
  cursor: pointer;
  color: var(--color-eliminar1-hover);
}
