<nav class= "contenedor">
  <div class="contenedor-logo">

    <a [routerLink]="'/dashboard-cliente'" (click)="cerrarHistorial()">
      <img class="logo-mi-turno" [src]="imagenIcono" alt="icono mi turno">
    </a>
  </div>


<div class = "contenedor-botones">

  <app-boton class="boton" [class]="claseBoton" [textoDentroBoton]="'Negocios'" ></app-boton>
  <app-boton class="boton" [routerLink]="'/dashboard-cliente'" [class]="claseBoton" (click)="onHistorialClick()" [textoDentroBoton]="textoHistorialLevantado"></app-boton>
  <mat-icon [className]="'claseIcono'" (click)="abrirModalCierre()" >{{iconos.logout}}</mat-icon>
  <app-modal-pregunta [pregunta]="'¿Desea salir de Mi Turno?'" [tituloPregunta]="'Salir'"  [botonNegativo]="'No'" [botonPositivo]="'Si'"  (respuesta)="manejarRespuesta($event)"></app-modal-pregunta>

  <!-- Borrar cuando lo necesites fabri de mi corazon  -->
  <mat-icon class="icono-perfil" (click)="abrirModal()">{{iconos.perfil}}</mat-icon>


  <!-- <li (click)="abrirModal()">
    @if (!imagenUsuario) {
      <mat-icon class="iconoPerfil">{{iconos.perfil}}</mat-icon>
    }@else {
      <img [src]="imagenUsuario" alt="imagen de usuario">
    }
  </li> -->
</div>

</nav>

@if (modalLevantado) {
  <app-modal [modal]="'modalConfiguracionCliente'" (cerrarModal)="cerrarModal()">
    <ng-container modal-header>
      <h5 [className]="'tituloModal'">Modificar perfil de {{nombreCliente}}</h5>
    </ng-container>
    <ng-container modal-content>
      <app-modificar-cliente></app-modificar-cliente>
    </ng-container>
  </app-modal>
}
