nav{
  display: flex;
  justify-content: space-between;
  max-height: 80px;
  background-color: var(--color-background);
}

.contenedor{
  max-height: 80px;
  width: 100%;
  background-color: var(--color-background);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contenedor-botones{
  display: flex;
  align-items: center;
  justify-content: right;
  margin-right: 25px;
}


.logo-mi-turno{
  width: auto;
  height: 70px;
  margin-left: 25px ;
}


.icono-perfil{
  font-size: 60px;
  height: auto;
  width: auto;
}

.boton{
  margin: 0 15px;
}


.claseIcono{
  font-size: 48px;
margin: 10px;
  color: var(--color-eliminar1);
}

.claseIcono:hover{
  color: var(--color-eliminar1-hover);
}