<section [id]="idSobreNosotros">

  <h2>Sobre nosotros</h2>
  <article class="contenedor">
    <p class="descripcion">{{titulosDescripcion.descripcionPrincipal}}</p>
  </article>

  <h2>Visión</h2>
  <article class="contenedor">
    <p class="descripcion">{{titulosDescripcion.vision}}</p>
  </article>

  <h2>Misión</h2>
  <article class="contenedor">
    <p class="descripcion">{{titulosDescripcion.mision}}</p>
  </article>

  <h2>Valores</h2>
  <article class="contenedor">
    <ul>
      <li *ngFor="let valor of valores">
        <h5 class="tituloDescripcion">{{valor.titulo}}</h5>
        <p class="descripcion">{{valor.descripcion}}</p>
      </li>
    </ul>
  </article>

</section>
