<div [className]="'backgroundContainer'">
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
</div>

<div class="principal">
  <app-side-bar-admin [idAdmin]="idAdmin.toString()" (salir)="cerrarSesion($event)"></app-side-bar-admin>

  <div class="secundario">
    <app-navbar-admin></app-navbar-admin>
    <router-outlet></router-outlet>
  </div>

  <ng-container *ngIf="estaSobrepuesto">
    <div class="overlay" (click)="cambiarSobreposicion()"></div>
  </ng-container>
</div>
