.dia-horario-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #000;
  border-left: 1px solid #000 ;
  padding: 10px;
  width: 150px;
  height: 425px;
  background-color: #fff;
}

.titulo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.horario-lista {
  width: 100%;
  margin: 10px 0;
  max-height: 425px;
  overflow-y: auto;
}

.horario-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #000;
  border-radius: 5px;
}

.delete-icon {
  cursor: pointer;
  color: gray;
}

button {
  width: 100%;
}


app-chip {
  justify-content: center;
  background-color: var(--color-contraste2);
  color: #fff;
  padding: 5px 14px;
  border-radius: 30px;
  margin-top: 10px;
  align-self: center;
  width: 120px;
  display: flex;
  align-items: center;
}


mat-slide-toggle {
  transform: scale(0.75); /* Cambia el tamaño general */
  width: 60px; /* Ajusta el ancho del contenedor */
  height: 30px; /* Ajusta la altura del contenedor */
}

.desactivado{
  opacity: 0.5;
  pointer-events: none;
}
