.imgLogin{
display: flex;
margin: 0 auto;
padding-top: 5rem;
}
.loginh2{
  color:var(--color-texto);
  text-align: center;
  font-size: 2.1rem;

}
.parrafoLogin{
  text-align: center;
  padding-bottom: 2rem;
  opacity: 0.5;
}
.fieldsetLogin{
  resize: both;/*Permite redimensionar tanto horizontal como verticalmente */
  overflow: auto;
  width: 500px;
  height: 550px;
  margin: 0 auto;
  min-width: 200px;
  min-height: 100px;
  padding: 1rem;
  border: 1px solid #ccc;
}
.legendLogin{
  text-align: center;
  padding: 0 3rem;
}
.inputLogin{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inputLogin app-input {
  padding-bottom: 1rem;
}
.botonIngresarLogIn{
  display: flex;
  margin: 0 auto;
  padding: 0.5rem 5rem 0.5rem 5rem;
}
.parrafoRegistrar{
  color: var(--color-texto);
  text-align: center;
}
.spanLogin{
  color: blue;
  text-decoration: none;
}
.spanLogin:hover{
  text-decoration: none;
  color: var(--color-contraste1);

}
a{
  text-decoration: none;
}
.inputEmail{
  background-color: red;
}
.inputPassword{
  background-color: blue;
}
