<section>
  <a href="/landing-page">
    <img src="icono.png" class="imgLogin"><!--Hacer componenete para reutilizar-->
  </a>
  <h2 class="loginh2">Iniciar sesion con tu cuenta</h2>
  <p class="parrafoLogin">Bienvenido de vuelta! Selecciona un metodo para ingresar.</p>
  <!--PONER INICIO CON GOOGLE-->
  <fieldset class="fieldsetLogin">
    <legend class="legendLogin">Ingrese con su cuenta</legend>
    <form id="loginForm">
      <!--Componente-->


      <app-input [placeholder]="'Email'" [id]="'emailLogin'" [type]="typeEmail" [textoLabel]="'Email'" [icono]="iconos.email"></app-input>

      <app-input [placeholder]="'Contraseña'" [id]="'passwordLogin'" [type]="typePassword" [textoLabel]="'Contraseña'" [icono]="iconos.iconoContrasenia.cerrado"></app-input>

      <a class="olvidasteContra" href="">¿Olvidaste tu contraseña?</a>

      <app-boton [textoDentroBoton]="'Ingresar'" [type]="'submit'"></app-boton>

    </form>
    <p class="parrafoRegistrar">¿Todavia no tenes una cuenta? <a [href]="registerHref">¡Registrate aqui!</a></p>
  </fieldset>
</section>
