<section>
  <a>
    <img src="icono.png" class="imgLogin"><!--Hacer componenete para reutilizar-->
  </a>
  <h2 class="loginh2">Iniciar sesion con tu cuenta</h2>
  <p class="parrafoLogin">Bienvenido de vuelta! Selecciona un metodo para ingresar.</p>
  <!--PONER INICIO CON GOOGLE-->
  <form>
    <fieldset class="fieldsetLogin">
      <legend class="legendLogin">Ingrese con su cuenta</legend>
      <label for=""></label>
      <!--Componente-->
      <label for="check"></label>
      <input id="check" type="checkbox" placeholder="recordarme">
    </fieldset>
  </form>
</section>
