<section>
  <a>
    <img src="icono.png" class="imgLogin"><!--Hacer componenete para reutilizar-->
  </a>
  <h2 class="loginh2">Iniciar sesion con tu cuenta</h2>
  <p class="parrafoLogin">Bienvenido de vuelta! Selecciona un metodo para ingresar.</p>
  <!--PONER INICIO CON GOOGLE-->
  <fieldset class="fieldsetLogin">
    <legend class="legendLogin">Ingrese con su cuenta</legend>
      <form>
      <!--Componente-->
      <div class="inputLogin">
        <app-input [class]="'inputEmail'" [type]="typeEmail" [placeholder]="'Email'" ></app-input><!--Email-->
        <app-input [class]="'inputPassword'" [type]="typePassword" [placeholder]="'Password'" ></app-input><!--Password-->
      </div>
      <button class="botonIngresarLogIn" type="submit">INGRESAR</button>
    </form>
    <p class="parrafoRegistrar">¿Todavia no tenes una cuenta? <a href=""><span class="spanLogin">!Creala aqui¡</span></a></p>
    </fieldset>
</section>
