.imgLogin{
display: flex;
margin: 0 auto;
padding-top: 5rem;
}
.loginh2{
  color:var(--color-texto);
  text-align: center;
  font-size: 2.1rem;

}
.parrafoLogin{
  text-align: center;
  padding-bottom: 2rem;
  opacity: 0.5;
}
.fieldsetLogin{
  resize: both;/*Permite redimensionar tanto horizontal como verticalmente */
  overflow: auto;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  min-width: 200px;
  min-height: 100px;
  padding: 1rem;
  border: 1px solid #ccc;
}

#loginForm{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.legendLogin{
  text-align: center;
  padding: 0 3rem;
}


app-boton{
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  width: 100%;
}

.parrafoRegistrar{
  color: var(--color-texto);
  text-align: center;
}

.olvidasteContra:hover{
  text-decoration: underline;
  color: var(--color-contraste1);
}
a{
  text-decoration: none;
}
.olvidasteContra{
  display: flex;
  justify-content: center;
  font-size: small;
}
.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra verticalmente el ícono y el input */
  justify-content: center; /* Centra horizontalmente el contenedor */
  margin-bottom: 1rem;
}

app-input{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1rem;
}
legend{
  text-align: center;
  padding: 0 3rem;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}



