.main {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  background-color: var(--color-background);
  margin: 2vh 3vh 2vh 1.5vh;
  width: 82vw;
  height: 88vh;
  display:flex ;
  flex-direction: column;
}


.header{
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h4{
  text-decoration: none;
  font-size: var(--titulo-h1);
  height: 30px;
}

hr{
  width: 80% !important; /* Asegura que se extienda en su contenedor */
  height: 2px !important;
  background-color: black !important;
  border: none;
  margin: 5px 0; /* Agrega un margen superior e inferior */
}

p {
  margin: 20px 0 0 0 ;
  font-size: var(--titulo-h4);
}




.botonConfirmarTurno{
  background-color: var( --color-contraste1);
  cursor: pointer;
  color: var(--color-background);
  border: none;
  border-radius: 0.4rem;
  height: 3rem;
  font-size: larger;
  text-align: center;
  width: 30rem;
}

.botonConfirmarTurno:hover{
  background-color: var(--color-confirmar-hover);
}
.contenedores{

  display: flex;
  width: 100%;
  height: 85%;
  flex-direction: row;
}

.formularioTurno{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.contenedor-inputs{
height: 100%;
width:33% ;
display: flex;
align-items: center;
flex-direction: column;
gap: 20px;
}

.contenedor-datos-personales{
  height: 100%;
  width: 33%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.contenedor-calendario{
  height: 100%;
  width:33% ;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}


