/* You can add global styles to this file, and also import other style files */
*{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
  margin: 0;
}

:root{
  --color-background:#FFFFFF;/*F5F5F5 TODO: cambiar el fondo del icono a este tono y luego cambiar el background*/
  --color-secundario:#DDDDDD;
  --color-gris-claro: #f0f0f0;
  --color-texto:#4A4A4A;
  --color-contraste1: #73C21C;
  --color-contraste2: #2138bb;
  --color-contraste2-hover: #1a2c96;
  --color-eliminar1: #ea4335;
  --titulo-h1: 2.6rem;
  --titulo-h2: 2rem;
  --titulo-h3: 1.5rem;
  --titulo-h4: 1.3rem;
  --titulo-h5:1rem;
}

html {
  scroll-padding-top: 70px; /* Ajusta según la altura de tu nav fijo */
}

body{
  display: flex;
  flex-direction: column;
}
