nav {
  display: flex;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
  margin: 2vh 3vh 2vh 1.5vh;
  width: 82vw;
  height: 6vh;
  align-items: center;
  justify-content: right;

  background-color: var(--color-background);
}

.fecha{
  margin-right: 25px ;
  font-size: var(--titulo-h4);
}



app-chip{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-contraste2);
  color: #fff;
  padding: 5px 14px ;
  border-radius: 30px;
  margin: 1vh;
}
