
<div [ngClass]="{'oscurecer': activarOscurecer}">

  <app-nav-pedir-turno [modificarPerfilActivo]="activo"></app-nav-pedir-turno>

  <app-nav-pasos [pasoActual]="pasoActual" (cambiarPaso)="irAPaso($event)"></app-nav-pasos>

  <main [className]="'main'">
  @if (idNegocio === -1) {
  <h1 [className]="'mensajeError'">El negocio no existe</h1>
  }
  @else {



      @switch (pasoActual) {
        @case (1) {

          <app-seleccion-servicio
          [idNegocio]="idNegocio"
          (idServicioSeleccionado)="recibirIdInformacion($event)"
          class="contenedor-servicio"
          ></app-seleccion-servicio>


          <!--pegarle al backend y que me muestre los servicios del negocio en el que esta-->
          <!-- <app-seleccion-usuario
          [pasoActualSeleccion]="pasoActual"
          (emitirInformacion)="recibirIdInformacion($event)"
          [idNegocio]="idNegocio"
          ></app-seleccion-usuario> -->

        }
        @case (2) {

          <app-seleccion-profesional
            [idNegocio]="idNegocio"
            [idServicio]="turno.idServicio"
            (idProfesionalSeleccionado)="recibirIdInformacion($event)"
            class="contenedor-profesional"
          ></app-seleccion-profesional>
        }
        @case (3) {

          <app-calendario-horario-profesional
          [idDelProfesional]="turno.horarioProfesional.idProfesional"
          [idNegocio]="idNegocio"
          (emitirInformacion)="recibirHorarioProfesional($event)"
          (emitirDiaInicio)="recibirDiaInicio($event)"
        ></app-calendario-horario-profesional>

        }
        @case (4) {
          <app-metodo-pago [idNegocio]="idNegocio"
          (emitirInformacion)="recibirIdInformacion($event)"
          class="contenedor-metodo-pago"
          ></app-metodo-pago>
        }
        @case (5) {
          <app-confirmacion [turnoCreado]="turno" (oscurecerFondo)="manejadorOscurecer($event)"></app-confirmacion>
          <!-- [idCliente]="idCliente" [idNegocio]="idNegocio" [idServicio]="turno.idServicio" [idProfesional]="turno.horarioProfesional.idProfesional" -->
        }@default {
          <p>No hay datos</p>
        }
      }

    }
  </main>
</div>
