<div [className]="'backgroundContainer'">
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
</div>
<div [className]="estiloGeneralContainer">

  <div [className]="'navContainer'">
    <app-nav-pedir-turno></app-nav-pedir-turno>
  </div>
  <app-widget-bienvenida [nombreCliente]="clienteActual.nombre" [apellidoCliente]="clienteActual.apellido" (clickBoton)="manejarLevantarPopUp($event)"></app-widget-bienvenida>
  <app-tabla-turnos [listadoNegocios]="listadoNegocios" [idCliente]="idCliente"></app-tabla-turnos>

  @if (popupLevantado) {
    <app-popup-elegir-negocio (clickBoton)="manejarLevantarPopUp($event)" [listadoNegocios]="listadoNegocios"></app-popup-elegir-negocio>
  }
</div>


<!-- (emitirIdNegocio)="recibirIdNegocio($event) -->
