<div [className]="'backgroundContainer'">
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
</div>
<div [className]="estiloGeneralContainer">

  <div [className]="'navContainer'">
    <app-nav-pedir-turno></app-nav-pedir-turno>
  </div>
  <app-widget-bienvenida [nombreCliente]="clienteActual.nombre" [apellidoCliente]="clienteActual.apellido" (clickBoton)="abrirModal()"></app-widget-bienvenida>
  <app-tabla-turnos [listadoNegocios]="listadoNegocios" [idCliente]="idCliente"></app-tabla-turnos>

  @if (modalLevantado) {
    <app-modal (cerrarModal)="cerrarModal()">
      <ng-container modal-header>
        <h5>Selecciona un negocio</h5>
        </ng-container>
      <ng-container modal-content>
        <app-elegir-negocio [listadoNegocios]="listadoNegocios"></app-elegir-negocio>
      </ng-container>

    </app-modal>
    <!-- <app-popup-elegir-negocio (clickBoton)="cerrarModal()" [listadoNegocios]="listadoNegocios"></app-popup-elegir-negocio> -->
  }
</div>


<!-- (emitirIdNegocio)="recibirIdNegocio($event) -->
