<article class="popUp">

  <h5>Dias y horarios de {{nombreProfesional}}</h5>
  <div class="cruz" (click)="cerrarPopUp()">
    <mat-icon> close</mat-icon>
  </div>
<div class="contenedor-horarios">
  <app-horarios [dia]="dia.LUNES" [horarios]="horariosActuales.LUNES" [idProfesional]="cardSeleccionada?.idUsuario"></app-horarios>
  <app-horarios [dia] = "dia.MARTES" [horarios]="horariosActuales.MARTES" [idProfesional]="cardSeleccionada?.idUsuario"></app-horarios>
  <app-horarios [dia] = "dia.MIERCOLES" [horarios]="horariosActuales.MIERCOLES" [idProfesional]="cardSeleccionada?.idUsuario"></app-horarios>
  <app-horarios [dia] = "dia.JUEVES" [horarios]="horariosActuales.JUEVES" [idProfesional]="cardSeleccionada?.idUsuario"></app-horarios>
  <app-horarios [dia] = "dia.VIERNES" [horarios]="horariosActuales.VIERNES" [idProfesional]="cardSeleccionada?.idUsuario"></app-horarios>
  <app-horarios [dia] = "dia.SABADO" [horarios]="horariosActuales.SABADO" [idProfesional]="cardSeleccionada?.idUsuario"></app-horarios>
  <app-horarios [dia] = "dia.DOMINGO" [horarios]="horariosActuales.DOMINGO" [idProfesional]="cardSeleccionada?.idUsuario"></app-horarios>
</div>
<div  >
  <app-boton (click)  ="confirmar()" [textoDentroBoton]="'Confirmar'" [class]="'botonConfirmarHorarios'"  ></app-boton>
</div>


</article>
