<article class="popUp">

<div class="contenedor-titulo">
  <h5>Dias y horarios de {{nombreProfesional}}</h5>
    <mat-icon class="cruz" (click)="cerrarPopUp()"> close</mat-icon>
</div>
<div class="contenedor-horarios">
  <app-horarios [dia]="'Lunes'"></app-horarios>
  <app-horarios [dia] = "'Martes'"></app-horarios>
  <app-horarios [dia] = "'Miércoles'"></app-horarios>
  <app-horarios [dia] = "'Jueves'"></app-horarios>
  <app-horarios [dia] = "'Viernes'"></app-horarios>
  <app-horarios [dia] = "'Sabado'"></app-horarios>
  <app-horarios [dia] = "'Domingo'"></app-horarios>
</div>
<div  >
  <app-boton (click)  ="confirmar()" [textoDentroBoton]="'Confirmar'" [class]="'botonConfirmarHorarios'"  ></app-boton>
</div>


</article>
