.contenedor-horarios
 {
  display: flex;
  flex-direction: row;
 }


 .popUp {
  display: flex;
  border: 2px solid;
  margin: 20px;
  width: 1100px;
  height: 600px;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
 }


 .botonConfirmar{
  color: red;
 }
