.contenedor-horarios
 {
  display: flex;
  flex-direction: row;
 }


 .popUp {
  display: flex;
  border: 2px solid;
  margin: 20px;
  width: 1100px;
  height: 600px;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra */
 }


 .contenedor-titulo{
  display: flex;
  flex-direction:  row;
 }

 .cruz {
  position: absolute;
  top: 35px;
  right: 35px;
  cursor: pointer;
}
