<!-- Sección de Características Principales -->
<section id="caracteristicas" class="caracteristicas-container">
  <div class="imagen-container">
    <img src= "/caracteristicas.svg" alt="Descripción de la imagen" class="imagen-destacada">
  </div>
  <div class="contenido-container">
    <h2>Características Principales</h2>
    <ul>
      <li><strong>Interfaz fácil de usar:</strong> Plataforma intuitiva, sin necesidad de formación previa.</li>
      <li><strong>Gestión de disponibilidad:</strong> Ajusta tu disponibilidad en tiempo real.</li>
      <li><strong>Múltiples usuarios:</strong> Permite a varios profesionales gestionar sus turnos.</li>
      <li><strong>Informes detallados:</strong> Estadísticas sobre ocupación de turnos y cancelaciones.</li>
      <li><strong>Integración con pagos:</strong> Los clientes pueden pagar al momento de reservar.</li>
    </ul>
  </div>
</section>
