<main class="main">

  @for (unMetodoDePago of metodosDePago; track $index) {

    <app-card
      [ruta]="getRutaImagen(unMetodoDePago)"
      [textoAlt]="'textoAlternativo'"
      [titulo]="mostrarMetodoDePagoSinGuiones(unMetodoDePago)"
      [texto]="textoTitulo"
      [textoBoton]="textoBoton"
      [referenciaChip]="referenciaChip"
      [guardarInformacion]="$index"
      (emitirInformacion)="enviarIdMetodoDePago($event)"
      [claseImg] ="'metodosDePagoImagen'"
    ></app-card>
  }


</main>
