<main class="main">
  <div *ngFor="let card of idCards">
    <app-card
      [ruta]="rutaImg"
      [textoAlt]="textoAlternativo"
      [titulo]="card.nombre"
      [texto]="especialidad"
      [textoBoton]="textoBoton"
      [referenciaChip]="rutaBotonChip"
      (click)="
        $event.preventDefault();
        cambiarSobreposicion('Modificar profesional', card)
      "
      style="cursor: pointer"
    ></app-card>
  </div>

  <button
    (click)="cambiarSobreposicion('Crear profesional', null)"
    class="mas-contenedor"
    *ngIf="idCards.length < 6"
  >
    <img
      src="img-mas-card.png"
      class="imgMas"
      alt="Agregar Card"
      style="cursor: pointer"
    />
  </button>


  <!-- !Aca hay lógica de cambiar al nuevo pop up -->
  @if (estaSobrepuesto) {
  <ng-container>
    <div class="overlay" (click)="cambiarSobreposicion('', null)"></div>


    <app-pop-up-crear-profesional
      class="posicionPopUp"
      [textoTitulo]="textoTituloPop"
      [cardSeleccionada]="cardSeleccionada"
      (desactivarOverlay)="cambiarSobreposicion('', null)"
      (cardActual)="recibirCardActual($event)"
      (activarHorarios)="cambiar_SobreposicionHorarios(cardActual)"
      (activarServicios)="cambiar_SobreposicionServicios(cardActual)"
    ></app-pop-up-crear-profesional>


  </ng-container>
  } @if (verHorarios) {

  <ng-container>
    <div class="overlay" (click)="cambiar_SobreposicionHorarios(cardActual)"></div>
    <app-pop-up-horarios-profesionales
      class="posicionPopUp"
      [profesional]="cardActual"
      (desactivarOverlay)="cambiar_SobreposicionHorarios(cardActual)"
      (activarModificacion)="cambiarSobreposicion('Modificar profesional', cardActual)"
    ></app-pop-up-horarios-profesionales>
  </ng-container>
  }
  @if(verServicios) {
    <ng-container>
      <div class="overlay" (click)="cambiar_SobreposicionServicios(cardActual)"></div>
      <app-pop-up-servicios-profesionales
        class="posicionPopUp"
        [profesional]="cardActual"
        (desactivarOverlay)="cambiar_SobreposicionServicios(cardActual)"
        (activarModificacion)="cambiarSobreposicion('Modificar profesional', cardActual)"
      ></app-pop-up-servicios-profesionales>
    </ng-container>
  }

</main>
