

  <main>
    <section [className]="'listadoDias'">

      <p [className]="'dia'" (click)="manejarDiaSeleccionado(hoy.getDay())">HOY</p>

      <p [className]="'dia'" (click)="manejarDiaSeleccionado(diaSiguiente)">{{obtenerDiaEnumPorNumero(diaSiguiente).toLocaleUpperCase()}}</p>

      <p [className]="'dia'" (click)="activarInputOtroDia()">OTRO DIA</p>

    </section>

    @if (otroDiaActivo) {

      <section [className]="'inputOtroDia'">
        <label [className]="'labelOtroDia'" for="otroDiaInput">Ingrese un dia:</label>
        <input (input)="obtenerInputOtroDia($event)" type="date" name="otroDiaInput" id="otroDiaInput" [min]="calcularFechaMinima() ">
      </section>

}

    <section [className]="'horariosProfesional'">

      @if (arregloHorarios.length ===0) {
        <p [className]="'mensajeHorarios'">No hay horarios disponibles para el {{obtenerDiaEnumPorNumero(diaDeLaSemanaSeleccionado).toLocaleLowerCase()}} de este profesional</p>
      }@else {

        @for (unHorario of arregloHorarios; track $index) {
          <!--Aca voy a poner todos los horarios del profesional-->

            <div [className]="'filaHorario'">
              <p [className]="'horarioTexto'">Turno {{unHorario.horaInicio}} |</p>

              @if (unHorario.estado) {
                <app-boton [class]="'botonHorario'" textoDentroBoton="Seleccionar" [guardarInformacion]="unHorario.idHorario" (clickBoton)="obtenerIdHorario($event)"></app-boton>
              }@else {
                <app-boton [class]="'botonHorarioDesactivado'" [disabled]="true" textoDentroBoton="Reservado"></app-boton>
              }


            </div>
          }
        }

      </section>

    </main>

