<main>
  <section [className]="'listadoDias'">

    <p [className]="'dia'">hoy</p>

    <p [className]="'dia'">{{diaEnumManiana.toLowerCase()}}</p>

    <p [className]="'dia'">otro dia</p>

  </section>

  <section>
    <p>Turnos disponibles: </p>
  </section>

  <section>
    <aside [className]="'horariosProfesional'">

      @for (unHorario of arregloHorarios; track $index) {
        <!--Aca voy a poner todos los horarios del profesional-->
        <div [className]="'filaHorario'">
          <p>Turno {{unHorario.horaInicio}}|</p>

          @if (unHorario.estado) {
            <button>Seleccionar</button>
          }@else {
            <button>Reservado</button>
          }


        </div>
      }


    </aside>


  </section>

</main>
