<nav>
  <ul>
    <li>
      <a href="">
        <app-texto-con-icono [icono]="iconos.tijera" [texto]="textos.servicios"></app-texto-con-icono>
      </a>
    </li>
    <li>
      <a href="">
        <app-texto-con-icono [icono]="iconos.carita_feliz" [texto]="textos.profesional"></app-texto-con-icono>
      </a>
  </li>
  <li>
    <a href="">
      <app-texto-con-icono [icono]="iconos.calendario" [texto]="textos.cuando"></app-texto-con-icono>
    </a>


</li>
<li>
  <a href="">
    <app-texto-con-icono [icono]="iconos.dinero" [texto]="textos.pago"></app-texto-con-icono>
  </a>
   
</li>
  </ul>
</nav>
