p{
  margin: 0;
}

nav{
  box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.3);
  background-color: var(--color-gris-claro);
  margin-bottom: 50px;
}

nav ul{
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

nav ul li{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100px;
}

li button{
  width: 100%;
  height: 100%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s;
}

li button:hover{
  cursor: pointer;
  color: white;
  background-color: var(--color-contraste2)
}

.no-seleccionado{
  color: var(--color-texto);
  background-color: var(--color-gris-claro);
}

.seleccionado{
  transition: background-color 0.5s;
  background-color: var(--color-contraste2);
  color: white;
}

#confirmar{
  cursor:default;
  background-color: var(--color-contraste2);
  color: white;
  width: 50%;
}

app-texto-con-icono{
  display: flex;
  justify-content: center;
  align-items: center;
}


