<div class="contenedor">
  <h5>{{textoTitulo}} </h5>
  <div class="cruz" (click)="cerrarPopUp()">
    <mat-icon>close</mat-icon>
  </div>
  <div class="contenido">
    <div class="contenedor-imagen">
      <img [src]="fotoProfesional" [alt]="'foto del profesional'"/>
    </div>
    <div class="contenedor-formulario">
      <form [className]="'form-registrar-profesional'" [formGroup]="formularioRegister">
        <mat-form-field appearance="outline">
          <mat-label>Nombre</mat-label>
          <input
            formControlName="nombre"
            matInput
            [placeholder]="placeholders.nombre"
          />
          <mat-icon matSuffix>{{ iconos.person }}</mat-icon>
          @if (formularioRegisterTieneError("nombre", "required")) {
          <mat-error>{{ mostrarMensajeError("required") }}</mat-error>
          }

        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Apellido</mat-label>
          <input
            formControlName="apellido"
            matInput
            [placeholder]="placeholders.nombre"
          />
          <mat-icon matSuffix>{{ iconos.person }}</mat-icon>
          @if (formularioRegisterTieneError("apellido", "required")) {
          <mat-error>{{ mostrarMensajeError("required") }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input
            formControlName="email"
            matInput
            [placeholder]="placeholders.email"
            [type]="'email'"
          />
          <mat-icon matSuffix>{{ iconos.email }}</mat-icon>
          @if (formularioRegisterTieneError("email", "required")) {
          <mat-error>{{ mostrarMensajeError("required") }}</mat-error>
          }@else if (formularioRegisterTieneError("email","emailExiste")) {
          <mat-error>{{ mostrarMensajeError("emailExiste") }}</mat-error>
          }

        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Telefono</mat-label>
          <input
            formControlName="telefono"
            matInput
            [placeholder]="placeholders.telefono"
            [type]="'tel'"
          />
          <mat-icon matSuffix>{{ iconos.call }}</mat-icon>
          @if (formularioRegisterTieneError("telefono", "required")) {
          <mat-error>{{ mostrarMensajeError("required") }}</mat-error>
          }@else if (formularioRegisterTieneError("telefono", "telefonoExiste")) {
            <mat-error>{{ mostrarMensajeError("telefonoExiste") }}</mat-error>
            }

        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Fecha Nacimiento</mat-label>
          <input
            formControlName="fechaNacimiento"
            matInput
            [matDatepicker]="picker"
          />
          <mat-hint>dd/MM/yyyy</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          @if (formularioRegisterTieneError("fechaNacimiento", "required")) {
            <mat-error>{{mostrarMensajeError('required')}}</mat-error>
          }
        </mat-form-field>

      </form>

      <app-boton
        [class]="'botonExtra'"
        [textoDentroBoton]="'Servicios que ofrece'"
        [type]="'button'"
        (click)="abrirServicios()"
      ></app-boton>
      <app-boton
        [class]="'botonExtra'"
        [textoDentroBoton]="'Días y horarios'"
        [type]="'button'"
        (click)="abrirDiasYHorarios()"
      ></app-boton>
    </div>
  </div>
  <div class="contenedor-fondo">
    <app-boton
      [class]="'botonEliminar'"
      [textoDentroBoton]="'Eliminar'"
      [type]="'button'"
      (click)="eliminarProfesional()"
    ></app-boton>
    <app-boton
      [class]="'botonConfirmar'"
      [textoDentroBoton]="'Confirmar'"
      [type]="'submit'"
      (click)="confirmarUsuario()"
      ></app-boton>
      <!-- (click)="cerrarPopUp()" -->
  </div>
</div>
