<section [className]="'widgetContainer'">
  <div [className]="'widgetHoraContainer'">
    <app-fecha-y-hora></app-fecha-y-hora>
  </div>
  <div [className]="'bienvenidaContainer'">

    @if (!nombreCliente) {
      <p [className]="'textoBienvenida'">Bienvenido Visitante! Es un placer ofrecerte nuestros servicios. </p>
    }@else {
      <p [className]="'textoBienvenida'">Bienvenido {{nombreCliente}} {{apellidoCliente}}, es un placer ofrecerte nuestros servicios. </p>
    }
      <p [className]="'textoBienvenida'">Reserva un turno con nosotros!</p>
    <button [className]="'botonElegirNegocio'" (click)="navegarANegocio()">(+) Nuevo Turno</button>

<!-- [class]="'botonBienvenida'"  -->
  </div>

</section>
