#seccionRegister{
  display: flex;
  justify-content: center;
  align-items: center;

  height: 90%;

}
.passwordField mat-icon{
  margin: 0 12px;

}

h2{
  font-size: var(--titulo-h2);
  margin: 0;
  text-align: center;
}

h3{
  font-size: var(--titulo-h3);
}


.formularioNegocio{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 80%;
}

app-input{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1rem;
}

#spanRedirectLogin
{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

#spanRedirectLogin p{
  text-align: center;
  margin: 0;
  padding-right: 15px;
}

#spanRedirectLogin a{
  text-decoration: none;
}

#spanRedirectLogin a:hover{
  color: var(--color-contraste1);
  text-decoration: underline;
}

.botonOcultarContrasenia{
  background-color: transparent;
  border: none;
  font-size: 12px;
  cursor: pointer;
}

.textareaDetalle{
  max-height: 85px;
}

mat-form-field{
  width: 250px;
  height: 60px;
  margin: 12px 0;
}

.containerPrincipal{
  background-color: #f5f5f5;
  width: 70%;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.containerPrincipalDeInputs{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.containerInputs{
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  height: 50vh;
  align-items: center;
  justify-content: start;
  margin: 0 3rem;

}

.containerBoton{
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


