div {
  border: 2px solid
}


.contenedor{
  width: 50vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
}


.contenido {
  display: flex;
  flex-direction: row;
}

.contenedor-formulario {
  display: flex;
  flex-direction: column;
}

