.container{
  position: absolute;
  top: 25%;
  left: 25%;
  background-color: white;
  border-radius: 25px;
  width: 800px;

}

.imgContainer{
  margin-top: 10px;
}

.imgContainer, .textContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

img{
  width: 80px;
  height: 80px;
}

.textContainer{
  text-align: center;
  flex-direction: column;
}

.textContainer h1{
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.info{
  padding: 0 15% 0 15%;
  line-height: 1;
}

.error{
  color: #ff0033;
  font-size: 1.2rem;
  margin: 0;
}

app-boton{
  margin-top: 20px;
}

.textContainer input{
  width: 60%;
  height: 100px;
  margin-top:20px;
  text-align: center;
  font-size: 2rem;
  border: 2px solid #d1d5db;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s ease;
}



.textContainer input:focus {
  border-color: #4c6ef5; /* Un azul más claro */
  box-shadow: 0 0 8px rgba(76, 110, 245, 0.5);
}

.textoAdicional{
  font-size: 0.9rem;
  color: #a1a1a1;
  margin: 15px 0 15px 0;
}

.reenviarCodigo{
  color: #4c6ef5;
  cursor: pointer;
  text-decoration: underline;
  font-size: larger;
}

/*Fondo*/
.area{
  background: #4e54c8;
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
  width: 100%;
  height:100vh;
  position: relative;

}

.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;

}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}

