.tabla-turnos{
  width: 82vw;
  margin: 2vh 3vh 2vh 1.5vh;
  box-shadow: none;
}





.estado-cobrado {
  background-color: #ff4d4d;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.estado-reservada {
  background-color: #4caf50;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.estado-cancelado {
  background-color: #ff5722;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.estado-libre {
  background-color: #1e90ff;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.estado-en-curso {
  background-color: #F09319;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.btn-cancelar {
  background-color: #ff5722;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.btn-cancelar:hover {
  background-color: #e64a19;
}

.btn-cancelar:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  opacity: 0.6;
}

.btn-cancelar:disabled:hover {
  background-color: #6b1515;
  cursor: not-allowed;
  opacity: 0.6;
}



th,
td {
  padding: 10px;
  text-align: center;
  /* border-radius: 15px; */
  border: 1px solid #ddd;
}

th {
  background-color: #f5f5f5;
}

/* Estilos para el encabezado */
.custom-header {
  background-color: #3f51b5 !important;
  color: white !important;
  font-weight: bold;
  text-align: center;
  padding: 12px;
}

.border-especial-left{
  border-top-left-radius: 11px;

}

.border-especial-right{
  border-top-right-radius: 11px;
}


/* Estilos para el row del encabezado */
.custom-header-row {
  background-color: #283593 !important; /* Un azul más oscuro */
}

/* Estilos generales para la tabla */
.custom-table {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
   margin-bottom: 10px;
}

/* Filas impares */
.custom-row:nth-child(odd) {
  background-color: #f2f2f2;
}

/* Filas pares */
.custom-row:nth-child(even) {
  background-color: #ffffff;
}

/* Efecto hover */
.custom-row:hover {
  background-color: #e3f2fd !important;
  transition: background-color 0.3s ease-in-out;
}
