.widgetContainer{
  border: 2px solid black;
  border-radius: 30px;
  display: flex;


  flex-direction: column;
  width: 80vw;
  height: 30vh;
  margin: 0 auto;
}

.widgetHoraContainer{
  width: 100%;

  padding: 15px;
  display: flex;
  justify-content: right;
}

.bienvenidaContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.textoBienvenida{
  margin: 0 5% 60px 5%;
  text-align: center;

  font-size: 1.5rem;
}

.botonElegirNegocio{
  background-color: var( --color-contraste2);
  color: var(--color-background);
  border: none;
  border-radius: 1rem;
  height: 2.5rem;
  font-size: larger;
  text-align: center;
  width: 20rem;
}


.botonElegirNegocio:hover{
  cursor: pointer;
  background-color: var(--color-contraste2-hover);
}
