<section [className]="'widgetContainer'">
  <div [className]="'widgetHoraContainer'">
    <app-fecha-y-hora></app-fecha-y-hora>
  </div>
  <div [className]="'bienvenidaContainer'">

    @if (nombreCliente === "Nombre" && apellidoCliente ==="Apellido") {
      <p [className]="'textoBienvenida'">Bienvenido Visitante! Es un placer ofrecerte nuestros servicios. Reserva un turno con nosotros!</p>
    }@else {
      <p [className]="'textoBienvenida'">Bienvenido {{nombreCliente}} {{apellidoCliente}}, es un placer ofrecerte nuestros servicios. Reserva un turno con nosotros!</p>
    }

    <button [className]="'botonElegirNegocio'" (click)="levantarPopupPedirTurno()">(+) Nuevo Turno</button>

<!-- [class]="'botonBienvenida'"  -->
  </div>

</section>
