.modal{
  /* max-width: 1200px;
  max-height: 800px; */
  min-width: 300px;
  min-height: 400px;
  background-color: whitesmoke;
  /* border: 2px solid black; */
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); /* Sombra */
  padding: 10px;
}

.modalHeader{
  width: 100%;
  display: flex;
  justify-content: end;
}

.modalContent{
  width: 100%;
}

.botonCerrar{
  background-color: whitesmoke;
  border: none;
  text-align: center;
}
.botonCerrar:hover{
  cursor: pointer;
}
