<div class="contenedor">

	<button [className]="'flechaAtrasBoton'">
		<img [className]="'imagenFlecha'" src="/flechaHaciaLaIzquierda.png" alt="flechaHaciaLaIzquierda" (click)="handleClickAtras()">
	  </button>

	<p class="titulo">Nueva contraseña</p>
	<p class="texto">Ingrese su nueva contraseña</p>

	<form [formGroup]="formularioRegister">

	<mat-form-field appearance="outline" [className]="'matFormFieldPassword'">
		<mat-label>Contraseña</mat-label>
		<input
		  [id]="'passwordRegister'"
		  formControlName="passwordRegister"
		  matInput
		  [type]="ocultarContrasenia() ? 'password' : 'text'"
		/>
		<button
		  mat-icon-button
		  matSuffix
		  [className]="'botonOcultarContrasenia'"
		  (click)="ocultarContraseniaEvent($event)"
		  [attr.aria-label]="'Ocultar Contraseña'"
		  [attr.aria-pressed]="ocultarContrasenia()"
		>
		  <mat-icon>{{
			ocultarContrasenia() ? "visibility_off" : "visibility"
		  }}</mat-icon>
		</button>
		@if (tieneErrorPassword("passwordRegister", "required")) {
		  <mat-error>{{mostrarMensajeError('required')}}</mat-error>
		}
	  </mat-form-field>

	  <mat-form-field [className]="'matFormField'" appearance="outline" [className]="'matFormFieldPassword'">
		<mat-label>Repetir Contraseña</mat-label>
		<input
		  [id]="'repetirContraseniaInput'"
		  formControlName="passwordRepetida"
		  matInput
		  [type]="ocultarContraseniaRepetida() ? 'password' : 'text'"
		/>
		<button
		mat-icon-button
		[className]="'botonOcultarContrasenia'"
		  matSuffix
		  (click)="ocultarContraseniaRepetidaEvent($event)"
		  [attr.aria-label]="'Ocultar Contraseña'"
		  [attr.aria-pressed]="ocultarContraseniaRepetida()"
		>
		  <mat-icon>{{
			ocultarContraseniaRepetida() ? "visibility_off" : "visibility"
		  }}</mat-icon>
		</button>
		@if (tieneErrorPassword("passwordRepetida", "required")) {
		  <mat-error>{{mostrarMensajeError('required')}}</mat-error>
		}

  </mat-form-field>

</form>
@if (tieneErrorFormulario('passwordsDiferentes')) {
  <mat-error>{{ mostrarMensajeError('passwordsDiferentes') }}</mat-error>
}

	<app-boton [textoDentroBoton]="'Confirmar'" [class]="'botonPedirTurnoNegocio'" (click) ="ObtenerFormulario()"></app-boton>
</div>
