<section id="introduccion">
  <header>
    <h1>Sistema de Gestión de Turnos</h1>
    <p>Nuestro sistema no solo optimiza la gestión de citas, sino que también funciona como un completo hub de negocios, permitiendo a empresas y profesionales gestionar sus operaciones de manera eficiente. Con herramientas integradas para agendar, organizar y administrar turnos, así como para gestionar la comunicación y procesos de negocio, tu empresa podrá ofrecer un servicio de calidad y optimizar su rendimiento.</p>
  </header>
  <img src="/calendario.svg" alt="calendario">
</section>
