<div class="main">
  <header class="header">
    <h4>Configuración</h4>
  </header>



  <div class="contenedor">



    <section class="contenedor-izquierdo">
    <div class="img-container">
      <img src="/img-default.png"  class ="imagen-negocio" alt="Imagen negocio" />
    </div>

    <section class="contenedor-general-toggle">
      <hr>

      <div class="toggle-container">
        <p> Los clientes pueden sacar turnos</p>
        <mat-slide-toggle
        (change)="cambiarEstadoToggle1($event)"
        [checked]="toggleActivo1"
        color="primary"
        ></mat-slide-toggle>
      </div>

      <div class="toggle-container">
        <p> Segunda personalización</p>
      <mat-slide-toggle
      (change)="cambiarEstadoToggle2($event)"
      [checked]="toggleActivo2"
      color="primary"
    ></mat-slide-toggle>
  </div>

    <div class="toggle-container">
      <p> Tercera personalización</p>
      <mat-slide-toggle
      (change)="cambiarEstadoToggle3($event)"
      [checked]="toggleActivo3"
      color="primary"
      ></mat-slide-toggle>
    </div>
  </section>

  </section>


  <section class="contenedor-derecho">



    <form
    [className]="'formularioNegocio'"
    [formGroup]="formularioModificarNegocio">


    <div class="campos-sensibles">

      <p class="textoAncho"> Nombre : {{negocio?.nombre}}</p>
      <p class="textoAncho">Mail: {{negocio?.credencial?.email}}</p>

      <mat-form-field appearance="outline">
        <mat-label>Telefono</mat-label>
        <input
        formControlName="telefono"
        matInput
        [placeholder]="placeholders.telefono"
        [type]="'tel'"
        />
        <mat-icon matSuffix>{{ iconos.call }}</mat-icon>
        @if (formularioModificarNegocioTieneError("telefono", "required")) {
          <mat-error>{{ mostrarMensajeError("required") }}</mat-error>
        }@else if (formularioModificarNegocioTieneError("telefono", "telefonoExiste")) {
          <mat-error>{{ mostrarMensajeError("telefonoExiste") }}</mat-error>
        }

      </mat-form-field>


      <mat-form-field appearance="outline">
        <mat-label>Rubro</mat-label>
        <mat-select formControlName="rubrosControl" required>
          <mat-option>--</mat-option>
            <mat-option *ngFor="let rubro of rubros" [value]="rubro">{{rubro}}</mat-option>

        </mat-select>
        <mat-icon matSuffix>{{ iconos.person }}</mat-icon>

        @if (formularioModificarNegocioTieneError("rubro", "required")) {
          <mat-error>{{ mostrarMensajeError("required") }}</mat-error>
          }
      </mat-form-field>


    </div>
    <div class="campos-genericos">




      <mat-form-field appearance="outline">
        <mat-label>Calle</mat-label>
        <input formControlName="calle" matInput [placeholder]="'Calle del negocio'" />
        <mat-icon matSuffix>signpost</mat-icon>
        @if (formularioModificarNegocioTieneError("calle", "required")) {
        <mat-error>{{ mostrarMensajeError("required") }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Altura</mat-label>
        <input
          formControlName="altura"
          matInput
          [placeholder]="'Altura del negocio'"
        />
        <mat-icon matSuffix>123</mat-icon>
        @if (formularioModificarNegocioTieneError("altura", "required")) {
        <mat-error>{{ mostrarMensajeError("required") }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Detalle del negocio</mat-label>
        <textarea
        [className]="'textareaDetalle'"
        formControlName="detalle"
        matInput
        [placeholder]="'Apartamento Piso 1, etc.'"
        ></textarea>
        <mat-icon matSuffix>location_city</mat-icon>
        @if (formularioModificarNegocioTieneError("detalle", "required")) {
          <mat-error>{{ mostrarMensajeError("required") }}</mat-error>
        }
      </mat-form-field>

      <div class="boton-container">

        <app-boton
        [textoDentroBoton]="'Guardar cambios'"
        [type]="'submit'"
        (click)="actualizarNegocioBack()"
        [class]="'botonConfirmar'"
        ></app-boton>


      </div>

      <a href="" class="cambiar-contra" (click) = "cambiarContrasena()"> ¡Cambiar contraseña!</a>
    </div>



    </form>



  </section>

</div>
  <div class="acciones">



  </div>

</div>
