<article class="popUp">

  <div class="titulos">
  <h5>Servicios de {{nombreProfesional}}</h5>
  <div class="cruz" (click)="cerrarPopUp()">
    <mat-icon> close</mat-icon>
  </div>
</div>
  <div class="contenedor-servicios">

    <div class="servicios-lista">
      <div class="servicios-item" *ngFor="let card of idCards; let i = index">
        <app-servicios-check
        [toggleActivo]="verificarEstado(card)"
        [servicioCompleto]="card"
        [profesionalCompleto]="profesional">
      </app-servicios-check>
      </div>
    </div>


  </div>

  <app-boton [class]="'botonConfirmar'" (click) = "cerrarPopUp()"  [textoDentroBoton]="'Confirmar'"></app-boton>

</article>
