<div class="contenedor-general">
    <div class="contenedor-imagen">
      <img [src]="'img-default.png'" [alt]="'foto del profesional'"  class="foto-perfil"/>

        <mat-checkbox (change)="manejarEventoCheckBoxCorreos($event)"> Recibir correos  de Mi Turno</mat-checkbox>

    </div>

    <div class="contenedor-formulario">
      <form [formGroup]="formularioRegister">
        <mat-form-field appearance="outline">
          <mat-label>Nombre</mat-label>
          <input
            formControlName="nombre"
            matInput
            placeholder="Ingresa tu nombre"
          />
          <mat-icon matSuffix>{{ iconos.person }}</mat-icon>
          @if (tieneErrorRegister("nombre", "required")) {
          <mat-error>{{ mostrarMensajeError("required") }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Apellido</mat-label>
          <input
            formControlName="apellido"
            matInput
            placeholder="Ingresa tu apellido"
          />
          <mat-icon matSuffix>{{ iconos.person }}</mat-icon>
          @if (tieneErrorRegister("apellido", "required")) {
          <mat-error>{{ mostrarMensajeError("required") }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Fecha Nacimiento</mat-label>
          <input
            formControlName="fechaNacimiento"
            matInput
            [matDatepicker]="picker"
          />
          <mat-hint>dd/MM/yyyy</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          @if (tieneErrorRegister("fechaNacimiento", "required")) {
          <mat-error>{{ mostrarMensajeError("required") }}</mat-error>
          }
        </mat-form-field>
      </form>
    </div>
</div>

<footer class="footer-container">
  <app-boton [class]="'botonConfirmar'" [textoDentroBoton]="'Confirmar'" (click)="modificarCliente()"></app-boton>
</footer>
