
.tabla-clientes{
  width: 82vw;
  margin: 2vh 3vh 2vh 1.5vh;
  box-shadow: none;
}


th,
td {
  padding: 10px;
  text-align: center;
  /* border-radius: 15px; */
  border: 1px solid #ddd;
}

th {
  background-color: #f5f5f5;
}

/* Estilos para el encabezado */
.custom-header {
  background-color: #3f51b5 !important;
  color: white !important;
  font-weight: bold;
  text-align: center;
  padding: 12px;
}

/* Estilos para el row del encabezado */
.custom-header-row {
  background-color: #283593 !important; /* Un azul más oscuro */
}

/* Estilos generales para la tabla */
.custom-table {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
   margin-bottom: 10px;
}

/* Filas impares */
.custom-row:nth-child(odd) {
  background-color: #f2f2f2;
}

/* Filas pares */
.custom-row:nth-child(even) {
  background-color: #ffffff;
}

/* Efecto hover */
.custom-row:hover {
  background-color: #e3f2fd !important;
  transition: background-color 0.3s ease-in-out;
}
