<nav>
  <a routerLink="/">
    <img [className]="'claseImagenIcono'" [src]="imagenIcono" alt="icono mi turno">
  </a>

  <ul>
    <li><app-boton [routerLink]="'/dashboard-cliente'"  [class]="claseBoton" [textoDentroBoton]="'Proximos Turnos'"></app-boton></li>
    <li><app-boton [routerLink]="'/dashboard-cliente'" [class]="claseBoton" [textoDentroBoton]="'Historial de Turnos'"></app-boton></li>
    <li><app-boton [class]="claseBoton" [textoDentroBoton]="'Cerrar sesion'" (click)="clearLocalStorage()"></app-boton></li>
    <li>
      @if (!imagenUsuario) {
        <mat-icon>{{iconos.perfil}}</mat-icon>
      }@else {
        <img [src]="imagenUsuario" alt="imagen de usuario">
      }
    </li>


  </ul>

</nav>
