
<div [ngClass]="{'oscurecer': activarOscurecer}">

  <app-nav-pedir-turno></app-nav-pedir-turno>

  <app-nav-pasos [pasoActual]="pasoActual" (cambiarPaso)="irAPaso($event)"></app-nav-pasos>

@if (idNegocio === -1) {
<h1>El negocio no existe</h1>
}
@else {

  @switch (pasoActual) {
    @case (1) {

      <!--pegarle al backend y que me muestre los servicios del negocio en el que esta-->
      <app-seleccion-usuario [pasoActualSeleccion]="pasoActual" [arregloServicios]="servicios"  (emitirInformacion)="recibirIdInformacion($event)" ></app-seleccion-usuario>
      <button (click)="avanzarPaso()">avanzarPaso</button>
    }
    @case (2) {
      <app-seleccion-usuario [pasoActualSeleccion]="pasoActual" [arregloProfesionales]="profesionales"  (emitirInformacion)="recibirIdInformacion($event)" ></app-seleccion-usuario>
      <button (click)="avanzarPaso()">avanzarPaso</button>
    }
    @case (3) {
      <!-- <app-seleccion-usuario [pasoActualSeleccion]="pasoActual" [arregloHorarios]="horarios"  (emitirInformacion)="recibirIdInformacion($event)" ></app-seleccion-usuario> -->
      <button (click)="avanzarPaso()">avanzarPaso</button>
    }
    @case (4) {
      <app-metodo-pago (metodoDePagoSeleccionado)="onMetodoPagoRecibido($event)"></app-metodo-pago>
      <button (click)="avanzarPaso()">avanzarPaso</button>
    }
    @case (5) {
      <p>hola4</p>
      <button (click)="confirmarTurno()">Confirmar Turno</button>
    }
    @case (6) {
      <app-confirmacion [idCliente]="idCliente" [idNegocio]="idNegocio" [idServicio]="turno.idServicio" [idProfesional]="turno.idProfesional" (oscurecerFondo)="manejadorOscurecer($event)"></app-confirmacion>
    }
  }

}
</div>
