section h2 {
  color: var(--color-texto);
  text-decoration: underline;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 1rem;
}

section {
  display: grid;
  justify-content: center;

}

.contendor {
  width: 70vw;
  height: auto;
  border-radius:  3rem;
  background-color: var(--color-secundario);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.contendor ul li{
  list-style: none;
}

.descripcion {
  color: var(--color-texto);
  font-size: 1.3rem;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  height: fit-content;
}

