<nav class="nav">
  <a href="#hero" class="logo">
    <img [src]="urlIcono" alt="icono">
    <span>Mi turno</span>
  </a>

  <ul class="navbar">
    <li><a [href]="heroHref">Inicio</a></li>
    <li><a [href]="sobreNosotrosHref">Sobre nosotros</a></li>
    <li><a [href]="beneficioHref">Servicios</a></li>
    <li><a [href]="preciosHref">Precios</a></li>
    <li><a [href]="contactoHref">Contacto</a></li>
  </ul>

  <div class="main">
    <a [href]="loginHref"><mat-icon class="user">{{iconos.person}}</mat-icon><span>Iniciar Sesion</span></a>
  </div>
</nav>


