.botonPredeterminado{
  background-color: var( --color-contraste2);
  color: var(--color-background);
  border: none;
  border-radius: 1rem;
  height: 2.5rem;
  font-size: larger;
  text-align: center;
  width: 20rem;
}

.botonPredeterminado:hover{
  cursor: pointer;
  background-color: var(--color-contraste2-hover);
}

.botonPredeterminado:disabled{
  opacity: 0.5;
  cursor: not-allowed;
}

.boton-nav{
  background-color: var( --color-contraste2);
  color: var(--color-background);
  border: none;
  border-radius: 1rem;
  height: 2.5rem;
  font-size: larger;
  text-align: center;
  width: 15rem;
  cursor: pointer;
}


.botonConfirmar{
  background-color: var( --color-contraste1);
  color: var(--color-background);
  border: none;
  border-radius: 0.4rem;
  height: 2.5rem;
  font-size: larger;
  text-align: center;
  width: 20rem;
}


.botonExtra{
  background-color: var( --color-contraste2);
  color: var(--color-background);
  border: none;
  border-radius: 0.4rem;
  height: 2.5rem;
  font-size: larger;
  text-align: center;
  width: 15rem;
}


.botonEliminar{
  background-color: var( --color-eliminar1);
  color: var(--color-background);
  border: none;
  border-radius: 0.4rem;
  height: 2.5rem;
  font-size: larger;
  text-align: center;
  width: 8rem;
}


.botonConfirmarHorarios {
  background-color: var( --color-contraste1);
  color: var(--color-background);
  border: none;
  border-radius: 0.4rem;
  height: 2.5rem;
  font-size: larger;
  text-align: center;
  width: 30rem;
  margin-top:20px;
}
