.claseQr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;

}

.claseQr img {
  width: 350px;
  height: 350px;
  margin-bottom: 20px;
  border-radius: 10px;
}

