<section>
  <div [className]="'confirmacionContainer'">
    <app-texto-con-icono
    [icono]="iconos.calendario"
    [texto]="fecha"
    [claseIcono]="'icono-personalizado'"
    [claseTexto]="'texto-personalizado'"
    ></app-texto-con-icono>

    <app-texto-con-icono
    [icono]="iconos.reloj"
    [texto]="settearHorario()"
    [claseIcono]="'icono-personalizado'"
    [claseTexto]="'texto-personalizado'"
    ></app-texto-con-icono>

    <app-texto-con-icono
    [icono]="iconos.tijera"
    [texto]="servicio.nombre"
    [claseIcono]="'icono-personalizado'"
    [claseTexto]="'texto-personalizado'"
    ></app-texto-con-icono>

    <app-texto-con-icono
    [icono]="iconos.person"
    [texto]="profesional.nombre"
    [claseIcono]="'icono-personalizado'"
    [claseTexto]="'texto-personalizado'"
    ></app-texto-con-icono>

    <app-texto-con-icono
    [icono]="iconos.dinero"
    [texto]="metodoDePagoTexto"
    [claseIcono]="'icono-personalizado'"
    [claseTexto]="'texto-personalizado'"
    ></app-texto-con-icono>

    <app-texto-con-icono
    [icono]="iconos.ubicacion"
    [texto]="ubicacionTexto"
    [claseIcono]="'icono-personalizado'"
    [claseTexto]="'texto-personalizado'"
    ></app-texto-con-icono>


    <app-texto-con-icono
    [icono]="iconos.exclamacion"
    [texto]="detalleTexto"
    [claseIcono]="'icono-personalizado'"
    [claseTexto]="'texto-personalizado'"
    ></app-texto-con-icono>


      <app-boton
      [backgroundColor]="'green'"
      [disabled]="botonActivado"
      [textoDentroBoton]="'Confirmar'"
      [type]="'button'"
      (click)="confirmarTurno() "
      ></app-boton>
    </div>
  </section>


  @if (seEnvioBien) {
    <app-pop-up-confirmacion [activar]="seEnvioBien"></app-pop-up-confirmacion>
  }
