
<section>
  <fieldset>
    <app-texto-con-icono
    [icono]="iconos.calendario"
    [texto]="fecha"
    [claseIcono]="'icono-personalizado'"
    [claseTexto]="'texto-personalizado'"
    [href]="'/home'">></app-texto-con-icono>

    <app-texto-con-icono
    [icono]="iconos.reloj"
    [texto]="horario"
    [claseIcono]="'icono-personalizado'"
    [claseTexto]="'texto-personalizado'"
    [href]="'/home'">></app-texto-con-icono>

    <app-texto-con-icono
    [icono]="iconos.tijera"
    [texto]="servicio.nombre"
    [claseIcono]="'icono-personalizado'"
    [claseTexto]="'texto-personalizado'"
    [href]="'/home'">></app-texto-con-icono>

    <app-texto-con-icono
    [icono]="iconos.person"
    [texto]="profesional.nombre"
    [claseIcono]="'icono-personalizado'"
    [claseTexto]="'texto-personalizado'"
    [href]="'/home'">></app-texto-con-icono>

    <app-texto-con-icono
    [icono]="iconos.dinero"
    [texto]="'0'"
    [claseIcono]="'icono-personalizado'"
    [claseTexto]="'texto-personalizado'"
    [href]="'/home'">></app-texto-con-icono>

    <app-texto-con-icono
    [icono]="iconos.ubicacion"
    [texto]="ubicacion"
    [claseIcono]="'icono-personalizado'"
    [claseTexto]="'texto-personalizado'"
    [href]="'/home'">></app-texto-con-icono>


    <app-texto-con-icono
    [icono]="iconos.exclamacion"
      [texto]="detalle"
      [claseIcono]="'icono-personalizado'"
      [claseTexto]="'texto-personalizado'"
      [href]="'/home'">></app-texto-con-icono>


      <app-boton
      [backgroundColor]="'green'"
      [disabled]="botonActivado"
      [textoDentroBoton]="'Confirmar'"
      [type]="'button'"
      (click)="enviarEmailAlCliente() "
      ></app-boton>
    </fieldset>
  </section>


  @if (seEnvioBien) {
    <app-pop-up-confirmacion [activar]="seEnvioBien"></app-pop-up-confirmacion>
  }
