<div>popupAAAAAAAAAAAAAAAAAAAA</div>


<section>
  <fieldset>
      <app-texto-con-icono
      [icono]="iconos.calendario"
      [texto]="fecha"
      [claseIcono]="'icono-personalizado'"
      [claseTexto]="'texto-personalizado'"
      [href]="'/home'">></app-texto-con-icono>

      <app-texto-con-icono
      [icono]="iconos.reloj"
      [texto]="horario"
      [claseIcono]="'icono-personalizado'"
      [claseTexto]="'texto-personalizado'"
      [href]="'/home'">></app-texto-con-icono>

      <app-texto-con-icono
      [icono]="iconos.tijera"
      [texto]="servicio"
      [claseIcono]="'icono-personalizado'"
      [claseTexto]="'texto-personalizado'"
      [href]="'/home'">></app-texto-con-icono>

      <app-texto-con-icono
      [icono]="iconos.person"
      [texto]="profesional"
      [claseIcono]="'icono-personalizado'"
      [claseTexto]="'texto-personalizado'"
      [href]="'/home'">></app-texto-con-icono>

      <app-texto-con-icono
      [icono]="iconos.dinero"
      [texto]="precio"
      [claseIcono]="'icono-personalizado'"
      [claseTexto]="'texto-personalizado'"
      [href]="'/home'">></app-texto-con-icono>

      <app-texto-con-icono
      [icono]="iconos.ubicacion"
      [texto]="ubicacion"
      [claseIcono]="'icono-personalizado'"
      [claseTexto]="'texto-personalizado'"
      [href]="'/home'">></app-texto-con-icono>


      <app-texto-con-icono
      [icono]="iconos.exclamacion"
      [texto]="detalle"
      [claseIcono]="'icono-personalizado'"
      [claseTexto]="'texto-personalizado'"
      [href]="'/home'">></app-texto-con-icono>


    <app-boton
    [backgroundColor]="'green'"
    [disabled]="desactivado"
    [textoDentroBoton]="'Confirmar'"
    [type]="'button'"
    (click)="enviarEmailAlCliente() "></app-boton>
  </fieldset>
</section>
