.heroContainer{
  background-image: url("/heroMiTurno.jpeg");
  background-repeat: round;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heroTitulo{
color: white;
font-size: xx-large;
}

.heroBoton{
  border-radius: 5px;
  border: none;
  background-color: lightgreen;
  height: 3rem;
  width: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  font-weight: bold;
  font-size: large;
}

.heroBoton:hover{
  cursor: pointer;
  background-color: rgb(90, 200, 90);
  transition: all 0.3s;
}
