/* You can add global styles to this file, and also import other style files */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}


:root{
  --color-background:#F5F5F5;/*F5F5F5 TODO: cambiar el fondo del icono a este tono y luego cambiar el background*/
  --color-secundario:#DDDDDD;
  --color-gris-claro: #f0f0f0;
  --color-texto:#333;
  --color-contraste1: #73C21C;
  --color-confirmar-hover: #5e9f16;
  --color-contraste2: #2138bb;
  --color-contraste2-hover: #1a2c96;
  --color-eliminar1: #ea4335;
  --color-eliminar1-hover: #d93025;
  --titulo-h1: 2.6rem;
  --titulo-h2: 2rem;
  --titulo-h3: 1.5rem;
  --titulo-h4: 1.3rem;
  --titulo-h5:1.1rem;
  --color-icono: #44474E;

  --bg-color: #fff;
  --text-color: #333;
  --main-color: #3f47ae;


}

mat-form-field mat-icon{
  color: var(--color-icono);
}

html {
  scroll-padding-top: 70px; /* Ajusta según la altura de tu nav fijo */
  scroll-behavior: smooth;
}

body{
  display: flex;
  flex-direction: column;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
