.contenedor{
	height: 300px;
	width: 550px;
	background-color: var(--color-background);
	border-radius: 15px;	
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-bottom:100px ;
}


.titulo{
	font-size: var(--titulo-h2);
	margin-bottom: 30px;
}

.texto{
	font-size: var(--titulo-h5);
	margin-bottom:40px
}

mat-form-field{
	width: 250px;
	height: 60px;
	margin: 12px 0;
  }
  
