<div class="contenedor">
	<button [className]="'flechaAtrasBoton'">
		<img [className]="'imagenFlecha'" src="/flechaHaciaLaIzquierda.png" alt="flechaHaciaLaIzquierda" (click)="handleClickAtras()">
	  </button>

	<p class="titulo">Recuperar contraseña</p>
	<p class="texto">Ingrese su correo para recuperar la contraseña</p>

  <form [formGroup]="formularioEmail">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input
        [type]="'email'"
        matInput
        placeholder="Ingresa tu email"
        formControlName="email"
      />
      <mat-icon matSuffix>{{ iconos.email }}</mat-icon>
      @if (tieneErrorLogin("email", "required")) {
        <mat-error>{{mostrarMensajeError('required')}}</mat-error>
      }@else if (tieneErrorLogin("email", "email")) {
        <mat-error>{{mostrarMensajeError('email')}}</mat-error>
      }@else if (tieneErrorLogin("email", "emailNoExiste")) {
        <mat-error>{{mostrarMensajeError('emailNoExiste')}}</mat-error>
      }
      </mat-form-field>

  </form>

    <app-boton [textoDentroBoton]="'Enviar'" [class]="'botonBuscarNegocio'" (click)="solicitarCambioPasssword()"></app-boton>

</div>

