<div class="contenedor">
	<button [className]="'flechaAtrasBoton'">
		<img [className]="'imagenFlecha'" src="/flechaHaciaLaIzquierda.png" alt="flechaHaciaLaIzquierda" (click)="handleClickAtras()">
	  </button>

	<p class="titulo">Recuperar contraseña</p>
	<p class="texto">Ingrese su correo para recuperar la contraseña</p>

	
	<mat-form-field appearance="outline">
		<mat-label>Email</mat-label>
		<input
		  [type]="'email'"
		  matInput
		  placeholder="Ingresa tu email"
		  [(ngModel)]="email"  

		/>
		<mat-icon matSuffix>{{ iconos.email }}</mat-icon>
	  </mat-form-field>

	   <app-boton [textoDentroBoton]="'Enviar'" [class]="'botonBuscarNegocio'" (click)="solicitarCambioPasssword()"></app-boton> 

</div>

